/assets/reportes/*.pdf
/assets/reportes/*.xlsx
/assets/tickets/*.pdf
/assets/img/perfil/*.png
.phpunit.result.cache
.phpunit.result.cache
phpunit.xml
/vendor/
\.phpintel
.env
/assets/img/inventario/*
